<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>
<p>This will be a signup page for new users</p>
<p id="under_construction">
	<%= image_tag("under_construction.jpg", alt: "UnderConstruction") %>
</p>